html {
	scroll-behavior: smooth;
}
body {
	background-color: #D3D3D3;
}
.space {
	width: 100%;
	height: 44.8px;
}
.navbar {
	position: sticky;
	top: 0;
	z-index: 1;
}
.carousel {
	width: 1024px;
	height: 600px;
	margin: 0 auto;
	z-index: 0;
	margin-bottom: 50px;
}
.container {
	text-align: center;
	width: 705px;
}
.foto {
	display: inline-block;
	margin: 0px 25px;
	float: left;
	width: 250px !important;
	height: 250px !important;
}
.info {
	display: inline-block;
	margin: 0px 25px;
	max-width: 225px;
	margin-bottom: 50px;
}
.gallery {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    column-width: 33%; 
}
.long {
	height: 322.5px!important;
	width: 215px;
}
.short {
	height: 143.32px!important;
	width: 215px;
}
.headers {
	border-bottom: solid grey 2px;
	margin-bottom: 25px;
	width: 80%;
	text-align: center;
	color: #535353;
}
.navGallery {
	margin-left: 1rem !important;
}
.assignment:hover {
    opacity: 0.75;
}